{% extends 'base.html' %}
{% block content %} 
<div>
    <h1>Tareas Completas</h1>
    <ol>
        {% for t in response.completed %}
            <li>
                {{t.name}}
                <a href="/delete/{{t.id}}" class="btn btn-danger btn-rounded">DELETE</a>
            </li>
        {% endfor %}
    </ol>
</div>
<div>
    <h1>Tareas Incompletas</h1>
    <ol>
        {% for t in response.incompleted %}
            <li>
                {{t.name}}
                <a href="/update/{{t.id}}" class="btn btn-info btn-rounded">UPDATE</a>
                <a href="/delete/{{t.id}}" class="btn btn-danger btn-rounded">DELETE</a>
            </li>
        {% endfor %}
    </ol>
</div>
<br>
<div>
    <form method="POST">
        <div class="form-outline">
            <input type="text" id="name" name="name" class="form-control" required/>
            <label class="form-label" for="typeText">Add Task</label>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-rounded" id="button">ADD</button>
        </div>
    </form>
</div>
<br>
{% endblock %}