{% extends 'base.html' %}
{% block content %} 
<div>
    <h1>Tareas Completas</h1>
    <ol>
        {% for t in response.completed %}
            <li>
                {{t.name}}
            </li>
        {% endfor %}
    </ol>
</div>

<div>
    <h1>Tareas Incompletas</h1>
    <ol>
        {% for t in response.incompleted %}
            <li>
                {{t.name}}
            </li>
        {% endfor %}
    </ol>
</div>

<div>
    <form method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="write your task">
        </div>
        <div>
            <button type="submit" id="button"></button>
        </div>
    </form>
</div>
{% endblock %}