{% extends 'base.html' %}
{% block content %} 
<div>
    <ul>
        <li>
            <h1>Tareas Completas</h1>
            {% for t in response.completed %}
            {{t.name}}
            {% endfor %}
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>
            <h1>Tareas Incompletas</h1>
            {% for t in response.incompleted %}
            {{t.name}}
            {% endfor %}
        </li>
    </ul>
</div>

<div>
    <form method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="write your task">
        </div>
        <div>
            <button type="submit">Add task</button>
        </div>
    </form>
</div>
{% endblock %}